.fat-footer{
  font-size: 0.85rem;
  color: $color-gray-2;

  h3{
    color: $color-black;
  }

  .logo{
    height: 60px;
    margin: -8px 0 0 -8px; /* Offset for shadow in image */
  }

  a:not(.btn):not(.nav-link){
    color: $color-gray-2;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }
}

.footer{
  padding: 0.5rem 0 1rem;
  border-top: 2px solid $color-gray-1;
  font-size: 0.85rem;

  a:not(.btn):not(.nav-link){
    color: $color-gray-2;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }
}
