$color-primary: #3646C5;
$color-secondary: #E12729;

$color-white: #fff;
$color-black: #444;
$color-gray-1: #F7F8FD;
$color-gray-2: #888;

.bg-gray-1{
  background-color: $color-gray-1;
}

.color-secondary{
  color: $color-secondary;
}
